@using OrderRice.Model

@foreach (var dish in Dishs)
{
    <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
            <input class="form-check-input" value="@(DishSelecteds.Contains(dish) ? true : false)" type="checkbox" @onchange="async eventArgs => { await UpdateDishSelecteds(dish, eventArgs.Value); }" />
            @dish.name
        </label>
    </div>
}

@code {
    [Parameter]
    public List<Dish> DishSelecteds { get; set; }
    [Parameter]
    public EventCallback<List<Dish>> DishSelectedsChanged { get; set; }
    [Parameter]
    public List<Dish> Dishs { get; set; }

    async Task UpdateDishSelecteds(Dish dish, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            DishSelecteds.Add(dish);
        }
        else
        {
            DishSelecteds.Remove(dish);
        }
        await DishSelectedsChanged.InvokeAsync(DishSelecteds);
    }
}